.topcover
  .topcover__inner
    .topcover__inner--management
      %h2 新規登録
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field
          .field
            = f.label :ニックネーム
            = f.text_field :nickname, autofocus: true, class:"user-input"
        .field
          = f.label :Eメール
          = f.email_field :email, autofocus: true, autocomplete: "email", class:"user-input"
        .field
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (半角#{@minimum_password_length}文字以上)
          %br/
          = f.password_field :password, autocomplete: "new-password", class:"user-input"
        .field
          = f.label :パスワード再入力
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", class:"user-input"
        .actions
          = f.submit "登録", class:"logbtn"
          = render "devise/shared/error_messages", resource: resource
      = render "devise/shared/links"
      = render 'devise/sessions/testuser'
