.topcover
  .topcover__inner
    .topcover__inner--management
      %h2 ログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :Eメール
          = f.email_field :email, autofocus: true, autocomplete: "email", class:"user-input"
        .field
          = f.label :パスワード
          = f.password_field :password, autocomplete: "current-password", class:"user-input"
        - if devise_mapping.rememberable?
          .field
            = f.label :パスワードを保存する
            = f.check_box :remember_me
        .actions
          = f.submit "ログイン", class:"logbtn"
      = render "devise/shared/links"
