.topcover
  .topcover__inner
    .new-mission
      .new-mission__title
        ミッション編集
        = form_for @mission do |f|

          = f.text_field :name, class:"user-input user-input-title", placeholder: "ミッション名"
          = f.collection_select :friend_id, @friends, :id, :name, class:"user-input", prompt: "フレンド選択"
          .new-mission__title__contents
            .new-mission__title__contents--left
              %b 日程
              = f.date_field :datetime, class:"user-input user-input-date"
              %br
              %b タイプ
              = f.select :mission_type, [["友達",1], ["家族",2], ["仕事",3], ["パートナー",4], ["その他",5]], prompt: "タイプを選択してください", class:"user-input"
              .chat-group-form__field
                .chat-group-form__field--left
                  %label.chat-group-form__label{:for => "chat_group_チャットメンバーを追加"} メンバー検索
                .chat-group-form__field--right

                  .chat-group-form__search.clearfix
                    %input#user-search-field.chat-group-form__input{:placeholder => "追加したいユーザー名を入力してください", :type => "text"}/
                  #user-search-result

              .chat-group-form__field.clearfix
                .chat-group-form__field--left
                  %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} メンバー
                .chat-group-form__field--right

                  #chat-group-users.js-add-user
                    .chat-group-user.clearfix.js-chat-member
                      %input{name: "mission[user_ids][]", type: "hidden", value: current_user.id}
                      %p.chat-group-user__name= current_user.nickname
                    - @mission.users.each do |user|
                      - if current_user.nickname != user.nickname
                        .chat-group-user.clearfix.js-chat-member
                          %input{name: "mission[user_ids][]", type: "hidden", value: user.id}
                          %p.chat-group-user__name
                            = user.nickname 
                          %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn
                            削除
            .new-mission__title__contents--right
              = f.text_area :comment, class: "user-input user-input-comment", placeholder: "ミッション詳細"
              = f.submit "更新", class:"logbtn-new"
              = link_to "閉じる", mission_path(@mission), class:"close-btn"
              
              = link_to "削除", mission_path(@mission), method: :delete, class:"close-btn" if current_user.id == @mission.admin_id
              = render 'layouts/error_messages', model: f.object
