.topcover
  .topcover__inner
    .new-mission
      .new-mission__title
        ミッション編集
        = form_for @mission do |f|
          = f.text_field :name, class:"user-input user-input-title", placeholder: "ミッション名"
          = f.collection_select :friend_id, @friends, :id, :name, class:"user-input", prompt: "フレンド選択"
          .new-mission__title__contents
            .new-mission__title__contents--left
              %b 日時
              = f.date_field :datetime, class:"user-input user-input-date"
              %br
              %b タイプ
              = f.select :mission_type, [["友達",1], ["家族",2], ["仕事",3], ["パートナー",4], ["その他",5]], prompt: "タイプを選択してください", class:"user-input"
              .mission__member
                %b メンバー
                .mission__members
                  = f.collection_check_boxes :user_ids, User.all, :id, :nickname, include_hidden: false  
            .new-mission__title__contents--right
              = f.text_area :comment, class: "user-input user-input-comment", placeholder: "ミッション詳細"
              = f.submit "更新", class:"logbtn-new"
