.topcover
  .topcover__inner
    - if user_signed_in?
      .contents__now
        .mission__now
          %p.contents__title
            = @mission.datetime.to_s(:date3)
            = "#{@mission.name}"
          .mission__now__inner
            .mission__now__inner__left
              <メンバー>
              - @mission.users.each do |u|
                %p
                  ="#{u.nickname}"
            .mission__now__inner__right
              フレンド:
              = @mission.friend.name
              %br
              %br
              内容:
              %br
              = simple_format(@mission.comment)
        %p.contents__title 他ミッション一覧
        .mission-wrap
          - current_user.missions.each do |mission|
            = render partial: 'shared/missions', locals: {mission: mission }
    .chatbox
      .chatbox__main
        .chatbox__main__mobile__edit-btn

          #nav-drawer-2
            %input#nav-input-2.nav-unshown-2{:type => "checkbox"}/
            %label#nav-open-2.fas.fa-file-alt.fa-lg{:for => "nav-input-2"}
              %span
            %label#nav-close-2.nav-unshown-2{:for => "nav-input-2"}
            #nav-content-2

              #nav-content-2__name
                = "「#{@mission.name}」"
              
              #nav-content-2__friend
                = "サプライズする相手: #{@mission.friend.name}さん　"

              #nav-content-2__member
                メンバー:
                #nav-content-2__member-box
                  -@mission.users.each do |u|
                    ="#{u.nickname}　"
              #nav-content-2__comment
                ミッション内容：
                #nav-content-2__comment-box 
                  = simple_format(@mission.comment)
              #nav-content-2__btn
                =link_to  " ミッションを編集", edit_mission_path, class:"mobile-inner-mission-edit"
              .mobile-footer
                =link_to new_user_session_path, class: "footer-btn" do
                  新規会員登録&ログイン
                |
                =link_to "https://yohei-koba-tokyo.github.io/lovepeaceandcodes/", class:"footer-btn" do
                  お問い合わせ
                .copyright
                  .far.fa-copyright
                  supu 2020



        =render @messages
        #anchor - 以下最新 -
      .chatbox__form
        = form_for [@mission, @message], method: :post, url: mission_messages_path(@mission) do |f|
          =f.text_field :content, class: 'form__message', placeholder: 'メッセージを入力'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'          
        .chatbox__form__editbtn
          =link_to  " ミッション編集", edit_mission_path, class:"mission-edit"