%header
  %h1
    =link_to "/", class: "supulogo" do
      supulogo
    .nav
      - if user_signed_in?
        =link_to friends_path, class: "fas fa-user-friends" do 
          .nav__menu
            = "フレンド一覧"
        =link_to missions_path, class: "fas fa-tasks fa-lg" do
          .nav__menu
            = "ミッション一覧"
        =link_to new_mission_path, class: "fas fa-gift fa-lg" do
          .nav__menu
            = "新ミッション"
        =link_to edit_user_registration_path, class: "fas fa-user-edit fa-lg" do
          .nav__menu
            = current_user.nickname
        =link_to destroy_user_session_path, method: :DELETE, class: "fas fa-moon fa-lg" do
          .nav__menu
            = "ログアウト"
      - else
        =link_to new_user_session_path, class: "far fa-user fa-lg" do
          .nav__menu
            = "ログイン"
        =link_to new_user_registration_path, class: "fas fa-user-plus fa-lg" do
          .nav__menu
            = "新規登録"